%section
  .two-column-layout.container-fluid
    .row
      .column.column-one.col-lg-3
        %nav.navbar.navbar-light.bg-faded.filters
          %h5 Filter by Topic(s)
          %hr
          .input-group.topic-search
            %input.form-control.search-query{:type => 'text', :placeholder => 'Search for...'}
            %span.input-group-btn
              %button.btn.btn-secondary.search-btn{:type => 'button'} Go!
          .topic-filter
            - for topic in @selected_topics
              .topic{:value => topic}
                %label.c-input.c-checkbox
                  %input{:type => 'checkbox', :checked => 'checked'}
                  %span.c-indicator
                  = topic
            - for topic in @topics
              .topic{:value => topic}
                %label.c-input.c-checkbox
                  %input{:type => 'checkbox'}
                  %span.c-indicator
                  = topic
      .cd-horizontal-timeline.column.col-lg-9
        .timeline
          .events-wrapper
            .events
              %ol
                - for blog_post in @blog_posts
                  - date = DateTime.strptime(blog_post['timestamp'], '%Y-%m-%d %H:%M:%S').to_date
                  %li
                    %a{'data-date' => date.strftime('%d/%m/%Y'), :href => '#0'}= date.strftime('%d %b')
              %span.filling-line{'aria-hidden' => 'true'}
          %ul.cd-timeline-navigation
            %li
              %a.prev.inactive{:href => '#0'} Prev
            %li
              %a.next{:href => '#0'} Next
        .events-content
          %ol
            - for blog_post in @blog_posts
              - date = DateTime.strptime(blog_post['timestamp'], '%Y-%m-%d %H:%M:%S').to_date
              %li{'data-date' => date.strftime('%d/%m/%Y')}
                %a{:href => "/good_reads/#{blog_post['_id']}"}
                  %h2= blog_post['title']
                %em= date.strftime('%d %B %Y')
                %p= blog_post['content']
                %a.btn.btn-primary.btn-lg{:href => "/good_reads/#{blog_post['_id']}"} Continue Reading...
        %script
          var timeline = $('.cd-horizontal-timeline'), first_event = timeline.find('.events ol li a').first(), first_event_content = timeline.find('.events-content ol li').first();
          first_event.addClass('selected');
          first_event_content.addClass('selected');
        %nav
          %ul.pager
            %li.pager-prev
              %a{:href => get_previous_page_url(@pager, good_reads_path, {:topics => @selected_topics})} Newer Posts
            %li.pager-next
              %a{:href => get_next_page_url(@pager, good_reads_path, {:topics => @selected_topics})} Older Posts
