%section
  .two-column-layout.container-fluid
    .row
      - if !is_device
        .column.column-one.col-lg-3
          %nav.navbar.navbar-light.bg-faded.filters
            %h5.title Filter by Topics
            %hr
            .input-group.topic-search
              %input.form-control.search-query{:type => 'text', :placeholder => 'Search for...'}
              %span.input-group-btn
                %button.btn.btn-success-outline.search-btn{:type => 'button'} Go!
            .topic-filter
              - for topic in @selected_topics
                .topic{:value => topic}
                  %label.c-input.c-checkbox
                    %input{:type => 'checkbox', :checked => 'checked'}
                    %span.c-indicator
                    = topic
              - for topic in @topics
                .topic{:value => topic}
                  %label.c-input.c-checkbox
                    %input{:type => 'checkbox'}
                    %span.c-indicator
                    = topic
      %h5.text-muted.centered Showing total #{@count} Posts
      - if is_device
        .blog-posts.column.col-lg-12
          - for blog_post in @blog_posts
            - blog_post_url = get_blog_post_url(blog_post)
            - date = DateTime.strptime(get_blog_post_timestamp(blog_post), '%Y-%m-%d %H:%M:%S').to_date
            .blog-post
              %a{:href => blog_post_url}
                %h2= get_blog_post_title(blog_post)
              %b= date.strftime('%d %B %Y')
              %p= get_blog_post_content(blog_post)
              %a.btn.btn-primary.btn-lg.center-block{:href => blog_post_url, :style => 'max-width:500px'} Continue Reading...
      - else
        .cd-horizontal-timeline.column.col-lg-9
          .timeline
            .events-wrapper
              .events
                %ol
                  - for blog_post in @blog_posts
                    - date = DateTime.strptime(get_blog_post_timestamp(blog_post), '%Y-%m-%d %H:%M:%S').to_date
                    %li
                      %a{'data-date' => date.strftime('%d/%m/%Y'), :href => '#0'}= date.strftime('%d %b')
                %span.filling-line{'aria-hidden' => 'true'}
            %ul.cd-timeline-navigation
              %li
                %a.prev.inactive{:href => '#0'} Prev
              %li
                %a.next{:href => '#0'} Next
          .events-content
            %ol
              - for blog_post in @blog_posts
                - blog_post_url = get_blog_post_url(blog_post)
                - date = DateTime.strptime(get_blog_post_timestamp(blog_post), '%Y-%m-%d %H:%M:%S').to_date
                %li{'data-date' => date.strftime('%d/%m/%Y')}
                  %a{:href => blog_post_url}
                    %h2= get_blog_post_title(blog_post)
                  %em= date.strftime('%d %B %Y')
                  %p= get_blog_post_content(blog_post)
                  %a.btn.btn-primary.btn-lg{:href => blog_post_url} Continue Reading...
          %script
            var timeline = $('.cd-horizontal-timeline'), first_event = timeline.find('.events ol li a').first(), first_event_content = timeline.find('.events-content ol li').first();
            first_event.addClass('selected');
            first_event_content.addClass('selected');
%script
  init_good_reads();
