%section
  .two-column-layout.container-fluid
    .row
      .column.column-one.col-lg-3.index
        %nav.navbar.navbar-light.bg-faded.filters
          %h5 Filter by Topic(s)
          %hr
          .input-group.topic-search
            %input.form-control.autosuggest-search-text{:type => 'text', :placeholder => 'Search for...'}
            %span.input-group-btn
              %button.btn.btn-secondary.autosuggest-search-btn{:type => 'button'} Go!
          .topics
            - for topic in @selected_topics
              .topic
                %label.c-input.c-checkbox
                  %input{:type => 'checkbox', :value => topic, :checked => 'checked'}
                  %span.c-indicator
                  = topic
            - for topic in @topics
              .topic
                %label.c-input.c-checkbox
                  %input{:type => 'checkbox', :value => topic}
                  %span.c-indicator
                  = topic
      .column.column-two.col-lg-9
        - for blog_post in @blog_posts
          .card.card-block
            - if blog_post['contentType'] == 'text'
              = render partial: 'partials/text_card', :locals => {:blog_post => blog_post}
            - if blog_post['contentType'] == 'text-image'
              = render partial: 'partials/text_image_card', :locals => {:blog_post => blog_post}
            - if blog_post['contentType'] == 'text-video'
              = render partial: 'partials/text_video_card', :locals => {:blog_post => blog_post}
            - if blog_post['contentType'] == 'text-slide'
              = render partial: 'partials/text_slide_card', :locals => {:blog_post => blog_post}
        %nav
          %ul.pager
            %li.pager-prev
              %a{:href => get_previous_page_url(@pager, good_reads_path)} Prev
            %li.pager-next
              %a{:href => get_next_page_url(@pager, good_reads_path)} Next