%section
  .two-column-layout.container-fluid
    .row
      .column.column-one.col-lg-9
        %h3.text-muted Showing #{get_first_content_index(@pager)} to #{get_last_content_index(@pager)} of #{@pager[:count]} Photograph(s)
        .tags
          - for tag in @tags
            %a.label.label-danger.remove-tag
              = tag
              %i.fa.fa-times
        .cards
          - @image_details.map.with_index(0).to_a.in_groups_of(3) do |group|
            .row
              - group.each do |image_detail_with_index|
                - if image_detail_with_index
                  - image_detail = image_detail_with_index[0]
                  - index = image_detail_with_index[1]
                  .column.col-lg-4
                    .card
                      = image_tag(get_resized_photograph_url(image_detail, 600, 400), {:class => 'card-img-top img-thumbnail photo-small center-block', :alt => 'photograph', 'data-target' => '#photograph-modal', 'data-toggle' => 'modal', 'target-carousel-item' => index})
                      .card-block
                        %h4.card-title= get_photograph_title(image_detail)
                        %p.card-text= get_photograph_description(image_detail)
                        -for tag in get_photograph_tags(image_detail)
                          %a.label.label-pill.label-default.tag= tag
        %nav.column.col-lg-12
          %ul.pager
            %li
              %a.btn.btn-lg{:href => get_previous_page_url(@pager, photography_path, {:tags => @tags})}
                %i.fa.fa-step-backward
            %li
              %a.btn.btn-lg{:href => get_next_page_url(@pager, photography_path, {:tags => @tags})}
                %i.fa.fa-step-forward
      .column.column-two.col-lg-3
        %h3.text-muted Equipments
        .drawer
          - for drawer_item in @photography_equipments
            .drawer-item
              .card
                .card-block
                  %h4.card-title= get_equipment_title(drawer_item)
                = image_tag(get_equipment_image_url(drawer_item, 600, 400), {:alt => 'equipment', :class => 'equipment_image center-block'})
                .card-block
                  %p.card-text= get_equipment_description(drawer_item)
                  %a.card-link{:href => get_equipment_specification_url(drawer_item), :target => 'blank'} Specification
          .fa-stack.fa-lg.center-block.drawer-button
            %i.fa.fa-circle-o.fa-stack-2x
            %i.fa.fa-stack-1x.drawer-icon
  = render partial: 'partials/photography_modal', :locals => {:image_details => @image_details}
%script
  init_photography();