%section
  .two-column-layout.container-fluid
    .row
      .column.column-one.col-lg-9
        .tags.column.col-lg-12
          - for tag in @tags
            %a.label.label-danger.remove-tag
              = tag
              %i.fa.fa-times
        - for i in 0..(@image_details.size - 1)
          .column.col-lg-4
            .card
              = image_tag(get_photograph_url(@image_details[i]), {:class => 'card-img-top img-thumbnail photo-small', :alt => 'photograph', 'data-target' => '#photograph-modal', 'data-toggle' => 'modal', 'target-carousel-item' => i})
              .card-block
                %h4.card-title= get_photograph_title(@image_details[i])
                %p.card-text= get_photograph_description(@image_details[i])
                -for tag in get_photograph_tags(@image_details[i])
                  %a.label.label-pill.label-default.tag= tag
        %nav.column.col-lg-12
          %ul.pager
            %li.pager-prev
              %a{:href => get_previous_page_url(@pager, photography_path, {:tags => @tags})} Prev
            %li.pager-next
              %a{:href => get_next_page_url(@pager, photography_path, {:tags => @tags})} Next
      .column.column-two.col-lg-3.gearbox
        .drawer
          - for drawer_item in @drawer_items
            .drawer-item
              .jumbotron
                %h4.display-4= drawer_item[:title]
                %hr
                = image_tag(drawer_item[:img_src], {:alt => drawer_item[:img_alt_txt], :class => 'center-block img-fluid img-thumbnail'})
                %hr.m-y-2
                  %p= drawer_item[:description]
                %a.btn.btn-primary.btn-lg{:href => drawer_item[:spec_url], :role => 'button'} Specification
          .fa-stack.fa-lg.center-block.drawer-button
            %i.fa.fa-circle-o.fa-stack-2x
            %i.fa.fa-stack-1x.drawer-icon
  = render partial: 'partials/photography_modal', :locals => {:image_details => @image_details}