%section
  .two-column-layout.container-fluid
    .row
      .column.column-one.col-lg-9
        .tags.column.col-lg-12
          - for tag in @tags
            %a.label.label-danger.remove-tag
              = tag
              %i.fa.fa-times
        - for i in 0..(@image_details.size - 1)
          .column.col-lg-4
            .card
              = image_tag(get_photograph_url(@image_details[i]), {:class => 'card-img-top img-thumbnail photo-small', :alt => 'photograph', 'data-target' => '#photograph-modal', 'data-toggle' => 'modal', 'target-carousel-item' => i})
              .card-block
                %h4.card-title= get_photograph_title(@image_details[i])
                %p.card-text= get_photograph_description(@image_details[i])
                -for tag in get_photograph_tags(@image_details[i])
                  %a.label.label-pill.label-default.tag= tag
        %nav.column.col-lg-12
          %ul.pager
            %li.pager-prev
              %a{:href => get_previous_page_url(@pager, photography_path, {:tags => @tags})} Prev
            %li.pager-next
              %a{:href => get_next_page_url(@pager, photography_path, {:tags => @tags})} Next
      .column.column-two.col-lg-3.gearbox
        %h3.text-muted Equipments
        .drawer
          - for drawer_item in @drawer_items
            .drawer-item
              .card
                .card-block
                  %h4.card-title= drawer_item[:title]
                = image_tag(drawer_item[:img_src], {:alt => 'equipment', :class => 'center-block img-fluid'})
                .card-block
                  %p.card-text= drawer_item[:description]
                  %a.card-link{:href => drawer_item[:spec_url]} Specification
          .fa-stack.fa-lg.center-block.drawer-button
            %i.fa.fa-circle-o.fa-stack-2x
            %i.fa.fa-stack-1x.drawer-icon
  = render partial: 'partials/photography_modal', :locals => {:image_details => @image_details}
%script
  init_photography();