!!!
%html
  %head
    %title Arpan Chaudhury
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'partials/header'
    = yield
    #search-results
    = render partial: 'partials/footer'

    = render partial: 'partials/resume_modal'
    = render partial: 'partials/contact_modal'
