!!!
%html
  %head
    %title Arpan - #{@page_title}
    %meta{:name => 'description', :content => @page_metadata}
    %meta{:name => 'robots', :content => 'NOODP'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'partials/header'
    = yield
    %section.search-results.hidden
    = render partial: 'partials/footer'
    = render partial: 'partials/resume_modal'
    = render partial: 'partials/contact_modal'
    %script
      init_search();
      init_contact();