%section
  .two-column-layout.container-fluid
    .row
      .column.column-one.col-lg-3
        %a.profile-picture-lightbox{'data-target' => '#image-modal', 'data-toggle' => 'modal'}
          %img.img-thumbnail.profile-picture.center-block{:src => @profile_image_url, :alt => 'profile picture'}
        .social-media-links
          .nav.nav-inline
            = render partial: 'partials/social_media_link', :locals => {:media => 'linkedin', :url => 'https://in.linkedin.com/in/arpanc', :target => '_blank'}
            = render partial: 'partials/social_media_link', :locals => {:media => 'github', :url => 'https://github.com/arpanchaudhury', :target => '_blank'}
            = render partial: 'partials/social_media_link', :locals => {:media => 'twitter', :url => 'https://twitter.com/arpanchaudhury', :target => '_blank'}
            = render partial: 'partials/social_media_link', :locals => {:media => '500px', :url => 'https://500px.com/arpanchaudhury', :target => '_blank'}
            = render partial: 'partials/social_media_link', :locals => {:media => 'slideshare', :url => 'http://www.slideshare.net/ArpanChaudhury', :target => '_blank'}
        %ul.profile-summary
          - for line in @profile_summary
            %li= line
      .column.column-two.col-lg-9
        %h1.about-me.heading
          Arpan Chaudhury
          %span.bengali
            ( অর্পণ চৌধূরী )
        .about-me.body.column.col-lg-12
          - for paragraph in @body_paragraphs
            %p.paragraph.column.col-lg-4
              = paragraph
  = render partial: 'partials/profile_picture_modal', :locals => {:image_url => @profile_image_url, :alternative_text => 'profile picture'}